body {
margin: 0;
font-family: Arial, sans-serif;
background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.container {
width: 350px;
margin: 50px auto;
background: white;
padding: 25px;
border-radius: 15px;
box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

h2 {
text-align: center;
color: #333;
}

input {
width: 100%;
padding: 10px;
margin: 8px 0;
border: 1px solid #ccc;
border-radius: 8px;
box-sizing: border-box;
}

button {
cursor: pointer;
}

.main-btn {
width: 100%;
padding: 10px;
background: #007bff;
color: white;
border: none;
border-radius: 8px;
margin-top: 10px;
}

.main-btn:hover {
background: #0056b3;
}

.update-btn {
width: 100%;
padding: 10px;
background: orange;
color: white;
border: none;
border-radius: 8px;
margin-top: 10px;
}

.top-buttons {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

.top-buttons button {
width: 48%;
padding: 10px;
border: none;
border-radius: 8px;
background: #333;
color: white;
}

ul {
list-style: none;
padding: 0;
}

li {
background: #f4f4f4;
padding: 10px;
margin-top: 10px;
border-radius: 8px;
display: flex;
justify-content: space-between;
}

.delete-btn {
background: red;
color: white;
border: none;
padding: 5px 8px;
border-radius: 5px;
}

